---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Pedro Euzebio | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Objetivo</div>
  </div>

  <div class="mb-10 text-justify">
    Busco oportunidades desafiadoras em desenvolvimento full-stack, onde possa
    aplicar minha paixão pelo desenvolvimento web e meu conhecimento amplo, do
    front-end ao back-end.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência Profissional</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Técnico de TI"
      subtitle="Novembro de 2023 - Dezembro de 2023, Fundo Municipal de Assistência Social, Baturité, Ceará, Brasil"
      desc="Gerenciei e mantive a infraestrutura de TI, incluindo rede, servidores e sistemas de segurança. Implementei soluções que melhoraram a eficiência e a segurança da infraestrutura de TI. Forneci suporte técnico eficiente para usuários internos, garantindo operações contínuas e seguras."
    />
    <TimeLineElement
      title="Desenvolvedor Web"
      subtitle="Agosto de 2023 - Novembro de 2023, Instituto Federal de Educação, Ciência e Tecnologia do Ceará, Baturité, Brasil"
      desc="Desenvolvi e mantive aplicativos web utilizando tecnologias como Javascript, React, Styled components, Node.js e SQL. Realizei testes e depuração de código para garantir alta qualidade e desempenho dos produtos finais. Contribuí para o planejamento e a elaboração de documentação técnica, incluindo especificações de requisitos e diagramas de fluxo de trabalho."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação Acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tecnólogo em Sistemas para Internet"
      subtitle="Janeiro de 2024 - Junho de 2026 na Universidade Estácio de Sá"
    />
    <TimeLineElement
      title="Técnico Subsequente em Informática para Internet"
      subtitle="Janeiro de 2024 - Junho de 2025 no Instituto Federal de Educação, Ciência e Tecnologia do Ceará"
    />
    <TimeLineElement
      title="Técnico Integrado em Informática"
      subtitle="Janeiro de 2021 - Dezembro de 2023 na EEEP Clemente Olintho Távora Arruda"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades Técnicas</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>
      Proficiência em HTML, jSS e JavaScript no desenvolvimento de sites e
      aplicativos web.
    </li>
    <li>
      Experiência com React, Next.js e Tailwind CSS para criar interfaces de
      usuário modernas e responsivas.
    </li>
    <li>Conhecimento em Spring Boot na construção do backend de aplicações.</li>
    <li>
      Familiaridade com SQL, MySQL e PostgreSQL na manipulação e gerenciamento
      de dados.
    </li>
    <li>Habilidade em Git para colaboração em projetos de equipe.</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">
        Certificado Curso de Noções de Liderança de Gestão de Pessoas -
        Instituto Centec, Dezembro de 2023.</a
      >
    </li>
    <li>
      <a
        href="https://app.rocketseat.com.br/certificates/58979f4a-9033-4e7d-8515-12071a45af22"
        target="_blank"
      >
        Certificado Curso de Java - Rocketseat, Outubro de 2023.</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/0218204e-7d5e-4486-b52e-f438e555df76/linked_in_profile"
        target="_blank"
      >
        Certificado AWS Academy Graduate - AWS Cloud Foundations - Amazon Web
        Services, Junho de 2023</a
      >
    </li>
    <li>
      <a href="#" target="_blank">
        Certificado Suporte Técnico em Tecnologia da Informação - Dell Lead,
        Abril de 2023.</a
      >
    </li>
  </ul>
</BaseLayout>
