---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Pedro Euzebio | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Objetivo</div>
  </div>

  <div class="mb-10 text-justify">
    Busco oportunidades desafiadoras em projetos colaborativos, onde possa
    aplicar minha paixão pelo desenvolvimento web e meu conhecimento amplo, do
    front-end ao back-end.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência Profissional</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Técnico de TI"
      subtitle="Novembro de 2023 - Dezembro de 2023, Fundo Municipal de Assistência Social, Baturité, Ceará, Brasil"
      desc="Gerenciamento e manutenção da infraestrutura de TI, incluindo rede, servidores e sistemas de segurança, garantindo operações contínuas, seguras e suporte técnico para usuários internos, resolvendo eficientemente problemas relacionados a hardware, software e conectividade."
    />
    <TimeLineElement
      title="Desenvolvedor Web"
      subtitle="Agosto de 2023 - Novembro de 2023, Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE), Baturité, Ceará, Brasil"
      desc="Desenvolvimento, manutenção de aplicativos web, utilizando tecnologias como Javascript, React, Styled components, Node.js, SQL, teste, depuração de código para garantir alta qualidade e desempenho dos produtos finais."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação Acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tecnólogo em Sistemas para Internet"
      subtitle="Janeiro de 2024 - Junho de 2026 na Universidade Estácio de Sá, Baturité, Brasil"
    />
    <TimeLineElement
      title="Técnico Subsequente em Informática para Internet"
      subtitle="Janeiro de 2024 - Junho de 2025 no Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE), Baturité, Brasil"
    />
    <TimeLineElement
      title="Técnico Integrado em Informática"
      subtitle="Janeiro de 2021 - Dezembro de 2023 na EEEP Clemente Olintho Távora Arruda, Baturité, Brasil"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades Técnicas</div>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Linguagens</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Typescript</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Java</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Frameworks e Bibliotecas</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>React</li>
    <li>Next.js</li>
    <li>Tailwind CSS</li>
    <li>Shadcn/UI</li>
    <li>Styled Components</li>
    <li>Spring Boot</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Banco de Dados</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>SQL</li>
    <li>MySQL</li>
    <li>PostgreSQL</li>
    <li>Prisma</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Ferramentas de Desenvolvimento</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Git</li>
    <li>Visual Studio Code</li>
    <li>Trello</li>
    <li>Node.js</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Ambiente Cloud</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>AWS</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Design</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Figma</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">
        Curso de Noções de Liderança e Gestão de Pessoas - Dezembro de 2023 -
        Instituto Centro de Ensino Tecnológico (Centec)</a
      >
    </li>
    <li>
      <a
        href="https://app.rocketseat.com.br/certificates/58979f4a-9033-4e7d-8515-12071a45af22"
        target="_blank"
      >
        Curso de Java - Outubro de 2023 - Rocketseat</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/0218204e-7d5e-4486-b52e-f438e555df76/linked_in_profile"
        target="_blank"
      >
        AWS Academy Graduate - AWS Academy Cloud Foundations - Junho de 2023 -
        Amazon Web Services (AWS)</a
      >
    </li>
    <li>
      <a href="#" target="_blank">
        Suporte Técnico em Tecnologia da Informação - Abril de 2023 - Dell Lead</a
      >
    </li>
  </ul>
</BaseLayout>
