---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Pedro Euzebio | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Objetivo</div>
  </div>

  <div class="mb-10 text-justify">
    Busco oportunidade em projetos colaborativos e desafios que me permitam
    aplicar meu conhecimento diversificado, do front-end ao back-end.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência Profissional</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Técnico de TI"
      subtitle="Período: nov de 2023 a dez de 2023, Fundo Municipal de Assistência Social, Baturité"
      desc="Responsabilidades: Garantir o bom funcionamento dos sistemas, proteger a privacidade dos dados dos pacientes e fornecer suporte técnico aos profissionais de saúde."
    />
    <TimeLineElement
      title="Desenvolvedor Web"
      subtitle="Período: ago de 2023 a nov de 2023, Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE), Baturité"
      desc="Responsabilidades: Desenvolvimento de aplicações web, resolução de problemas e otimização de desempenho."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação Acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tecnólogo em Sistemas para Internet"
      subtitle="Período: fev de 2024 a jun de 2026 na Universidade Estácio de Sá, Baturité, Brasil"
    />
    <TimeLineElement
      title="Técnico Subsequente em Informática para Internet"
      subtitle="Período: jan de 2024 a jun de 2025 no Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE), Baturité, Brasil"
    />
    <TimeLineElement
      title="Técnico em Informática"
      subtitle="Período: fev de 2021 a dez de 2023 na Escola Estadual de Educação Profissional (EEEP) Clemente Olintho Távora Arruda, Baturité, Brasil"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.credly.com/badges/0218204e-7d5e-4486-b52e-f438e555df76/linked_in_profile"
        target="_blank"
      >
        AWS Academy Graduate - AWS Academy Cloud Foundations - jun de 2023 - Amazon Web Services (AWS)</a
      >
    </li>
    <li>
      <a href="#" target="_blank">
        Suporte Técnico em Tecnologia da Informação - abr de 2023 - Dell Lead</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades Técnicas</div>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Linguagens</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Typescript</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>React</li>
    <li>Java</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Frameworks e Bibliotecas</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>React</li>
    <li>Next.js</li>
    <li>Tailwind CSS</li>
    <li>Shadcn/UI</li>
    <li>Spring Boot</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Banco de Dados</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>SQL</li>
    <li>MySQL</li>
    <li>PostgreSQL</li>
    <li>Prisma</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Ferramentas de Desenvolvimento</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Git</li>
    <li>Visual Studio Code</li>
    <li>Trello</li>
    <li>Node.js</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Ambiente Cloud</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>AWS</li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Design</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Figma</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Idiomas</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Inglês - Básico</li>
  </ul>
</BaseLayout>
