---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Pedro Euzebio | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Objetivo</div>
  </div>

  <div class="mb-10 text-justify">
    Busco oportunidades desafiadoras em desenvolvimento full-stack, onde posso
    aplicar minha paixão pelo desenvolvimento web e meu conhecimento amplo, do
    front-end ao back-end.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência Profissional</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Técnico de TI"
      subtitle="Novembro de 2023 - Dezembro de 2023 no Fundo Municipal de Assistência Social"
      desc="Gerenciamento completo da infraestrutura de TI, assegurando a disponibilidade e o desempenho ideais de servidores, redes e sistemas de armazenamento. Realização de manutenção preventiva e corretiva de hardware e software para garantir a eficiência de todos os equipamentos e sistemas. Fornecimento de suporte técnico interno para resolver problemas relacionados a computadores, impressoras, redes e software."
    />
    <TimeLineElement
      title="Desenvolvedor Web"
      subtitle="Agosto de 2023 - Novembro de 2023 no Instituto Federal de Educação, Ciência e Tecnologia do Ceará"
      desc="Desenvolvimento e manutenção de aplicações web para atender às demandas internas e externas. Implementação de melhorias contínuas em sistemas existentes visando desempenho, segurança e usabilidade ideais. Teste e depuração de código para garantir a estabilidade e funcionalidade em diversos navegadores e dispositivos."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação Acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tecnólogo em Sistemas para Internet"
      subtitle="Janeiro de 2024 - Junho de 2026 na Faculdade Estácio"
    />
    <TimeLineElement
      title="Técnico Subsequente em Informática para Internet"
      subtitle="Janeiro de 2024 - Junho de 2025 no Instituto Federal de Educação, Ciência e Tecnologia do Ceará"
    />
    <TimeLineElement
      title="Técnico Integrado em Informática"
      subtitle="Janeiro de 2021 - Dezembro de 2023 na EEEP Clemente Olintho Távora Arruda"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades Técnicas</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>
      Habilidade em criar estrutura e estilo para páginas web utilizando HTML e
      CSS.
    </li>
    <li>
      Capacidade de criar interaçRes dinâmicas e funcionais na web, utilizando
      JavaScript moderno e suas bibliotecas/frameworks, como React.js e Next.js.
    </li>
    <li>
      Conhecimento em Node.js para criar a lógica de funcionamento dos sistemas
      web.
    </li>
    <li>
      Experiência com bancos de dados relacionais MySQL e PostgreSQL para
      armazenar e manipular dados de forma eficiente.
    </li>
    <li>
      Proficiência em sistemas de controle de versão, como Git, para gerenciar e
      colaborar em projetos de desenvolvimento web em equipe.
    </li>
    <li>
      Capacidade de desenvolver sites que se adaptem de forma elegante e eficaz
      a diferentes dispositivos e tamanhos de tela.
    </li>
    <li>
      Familiaridade com frameworks front-end populares, como Bootstrap e
      Tailwind, para agilizar o desenvolvimento de interfaces de usuário.
    </li>
    <li>
      Habilidade em comunicar ideias de forma clara e eficaz, além de trabalhar
      em equipe com outros desenvolvedores, designers e stakeholders para
      alcançar os objetivos do projeto.
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://app.rocketseat.com.br/certificates/58979f4a-9033-4e7d-8515-12071a45af22"
        target="_blank"
      >
        Certificado Curso de Java - outubro de 2023 - Rocketseat</a
      >
    </li>
    <li>
      <a
        href="https://app.rocketseat.com.br/certificates/58979f4a-9033-4e7d-8515-12071a45af22"
        target="_blank"
      >
        Certificado IA para Devs - agosto de 2023 - Rocketseat</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/0218204e-7d5e-4486-b52e-f438e555df76/linked_in_profile"
        target="_blank"
      >
        Certificado AWS Academy Cloud Foundations - junho de 2023 - Amazon Web
        Services (AWS)</a
      >
    </li>
    <li>
      <a href="#" target="_blank">
        Certificado Suporte Técnico em Tecnologia da Informação - abril de 2023
        - Dell Lead</a
      >
    </li>
  </ul>
</BaseLayout>
