---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Pedro Euzebio | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Objetivo</div>
  </div>

  <div class="mb-10 text-justify">
    Busco oportunidade em projetos colaborativos e desafios que me permitam
    aplicar meu conhecimento diversificado, do front-end ao back-end.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educação</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Sistemas para Internet"
      subtitle="fev de 2024 a jun de 2026 na Universidade Estácio de Sá, Baturité, Brasil"
    />
    <TimeLineElement
      title="Técnico Subsequente em Informática para Internet"
      subtitle="jan de 2024 a jun de 2025 no Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE), Baturité, Brasil"
    />
    <TimeLineElement
      title="Técnico em Informática"
      subtitle="fev de 2021 a dez de 2023 na Escola Estadual de Educação Profissional (EEEP) Clemente Olintho Távora Arruda, Baturité, Brasil"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Técnico de TI"
      subtitle="nov de 2023 a dez de 2023, Fundo Municipal de Assistência Social, Baturité"
      desc="Garantir o bom funcionamento dos sistemas, proteger a privacidade dos dados dos pacientes e fornecer suporte técnico aos profissionais de saúde."
    />
    <TimeLineElement
      title="Desenvolvedor Web"
      subtitle="ago de 2023 a nov de 2023, Instituto Federal de Educação, Ciência e Tecnologia do Ceará (IFCE), Baturité"
      desc="Desenvolvimento de aplicações web, resolução de problemas e otimização de desempenho."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://app.rocketseat.com.br/certificates/58979f4a-9033-4e7d-8515-12071a45af22" target="_blank">
        Curso de Java</a
      >
    </li>
    <li>
      <a
        href="https://app.rocketseat.com.br/certificates/93fe55ff-f966-48e7-91c5-dfe73762e82c"
        target="_blank"
      >
        Next Level Week (NLW) IA</a
      >
    </li>
    <li>
      <a
        href="https://app.rocketseat.com.br/certificates/f66f5f1f-22ad-4914-ba0b-3dc6a91e77c2"
        target="_blank"
      >
        IA para Devs</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/0218204e-7d5e-4486-b52e-f438e555df76/linked_in_profile"
        target="_blank"
      >
        AWS Academy Graduate - AWS Academy Cloud Foundations</a
      >
    </li>
    <li>
      <a
        href="#"
        target="_blank"
      >
        Suporte Técnico em Tecnologia da Informação</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades Técnicas</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>Typescript</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Tailwind</li>
    <li>Shadcn/UI</li>
    <li>Styled Components</li>
    <li>Spring</li>
    <li>Java</li>
    <li>PHP</li>
    <li>Node.js</li>
    <li>SQL</li>
    <li>MySQL</li>
    <li>PostgreSQL</li>
    <li>Git</li>
    <li>Gitlab</li>
    <li>SourceTree</li>
    <li>Trello</li>
    <li>Jira</li>
    <li>AWS</li>
    <li>Figma</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Idiomas</div>
  </div>

  <ul class="list-disc mx-6 mb-10">
    <li>Inglês (Básico)</li>
  </ul>
</BaseLayout>
