---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Olá, tudo bem? 👋</div>
    <div class="text-5xl font-bold">Eu sou o Pedro Euzebio</div>
    <div class="text-3xl py-3 font-bold">Desenvolvedor Web</div>
    <div class="py-2">
      <text class="text-lg">
        Sou um <strong>desenvolvedor apaixonado</strong>, buscando constantemente desafios
        que me permitam aplicar e expandir meu conhecimento diversificado no
        mundo do desenvolvimento web.</text
      >
    </div>
    <div class="mt-8">
      <a
        class="btn normal-case rounded-lg"
        href="mailto:pedroeuzebio.contato@gmail.com"
        target="_blank"
      >
        Entre em contato comigo!
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Meus projetos em destaque {"</>"}
    </div>
  </div>

  <HorizontalCard
    title="Speedy Hamburguer"
    img="/post_speedyhamburguer.png"
    desc="projeto colaborativo com colegas de curso desenvolvido para a feira de ciências escolar, redefine lanchonetes virtuais. Explore o cardápio, escolha itens e envie pedidos via WhatsApp, combinando praticidade e simplicidade."
    url="https://speedyhamburguer.vercel.app"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FSW Store"
    img="/post_fswstore.png"
    desc="Sistema de e-commerce com autenticação via Google e Stripe como método de pagamento. Desenvolvido com as tecnologias mais modernas e requisitadas pelo mercado para uma experiência de e-commerce excepcional."
    url="https://fsw-store-pedroeuzebio.vercel.app"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="EducaFacilWeb"
    img="/post_educafacilweb.png"
    desc="Projeto social e de conclusão de curso técnico em informática. Desenvolvi um site educacional dedicado a auxiliar alunos em seus estudos. A plataforma oferece vídeos em diversas disciplinas, promovendo o aprimoramento acadêmico de forma acessível e interativa."
    url="https://educafacilweb.vercel.app"
  />
</BaseLayout>
