---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Pedro Euzebio | Projetos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projetos</div>
    <div class="text-lg w-full mb-5">
      Essa página lista alguns dos projetos que desenvolvi até o momento da
      minha jornada como programador.
    </div>
  </div>
  <HorizontalCard
    title="HTML+CSS+JS Challenge"
    img="/post_htmlcssjschallenge.png"
    desc="Quiz pra testar conhecimentos técnicos em HTMl, CSS e Javascript e ter um retorno sobre a quantidade que se acertou."
    url="https://html-css-js-challenge.netlify.app/"
  />
  <HorizontalCard
    title="Certify Me"
    img="/post_certifyme.png"
    desc="Aplicação Java Spring Boot que permite aos estudantes obterem certificações através de questionários interativos."
    url="https://github.com/pedroeuzebioo/certify-me/"
  />
  <HorizontalCard
    title="FSW Barber"
    img="/post_fswbarber.png"
    desc="Sistema de barbearia com autenticação via Google, busca de barbearias, reserva e cancelamento de serviços."
    url="https://fsw-barber-pedroeuzebio.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Talk to Me"
    img="/post_talktome.png"
    desc="Clone do Google Meet para entrar em salas, criar novas salas, conversar por chat e ligar a câmera."
    url="https://github.com/pedroeuzebioo/talk-to-me/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FSW Store"
    img="/post_fswstore.png"
    desc="Sistema de e-commerce com autenticação via Google e Stripe como método de pagamento."
    url="https://fsw-store-pedroeuzebio.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="EducaFacilWeb"
    img="/post_educafacilweb.png"
    desc="Site educacional com vídeos em diversas disciplinas para auxiliar alunos em seus estudos."
    url="https://educafacilweb.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Upload AI"
    img="/post_uploadai.png"
    desc="Aplicação para fazer upload de vídeos e criar automaticamente títulos e descrições usando IA."
    url="https://github.com/pedroeuzebioo/upload-ai/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Speedy Hamburguer"
    img="/post_speedyhamburguer.png"
    desc="Projeto colaborativo para feira de ciências escolar, redefinindo lanchonetes virtuais."
    url="https://speedyhamburguer.vercel.app/"
  />
</BaseLayout>
