---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Pedro Euzebio | Sobre mim">
  <div class="pb-8 mt-5 lg:grid lg:grid-cols-2">
    <div>
      <div class="text-3xl py-3 font-bold">Sobre mim</div>

      <img
        src="/avatar.jpg"
        alt="Foto do Pedro Euzebio"
        class="max-w-full md:max-w-sm rounded-lg"
        width="470"
      />
    </div>

    <div class="py-16">
      <p class="text-lg text-justify">
        Meu nome é Pedro, tenho <strong>17</strong> anos e sou um desenvolvedor web
        apaixonado. <br />
        <br />

        Destaco-me por liderar e contribuir significativamente no
        desenvolvimento de um sistema de delivery para a feira de ciências de
        2023, em colaboração com colegas de curso. <br />
        <br />

        Durante minha trajetória profissional como Desenvolvedor Web no IFCE,
        utilizei minha expertise técnica para criar soluções eficientes em
        desenvolvimento, manutenção e otimização de desempenho de sistemas. Uma
        das minhas conquistas mais notáveis foi o desenvolvimento do Front-end
        do SAE (Sistema de Atividades Extracurriculares) do curso de Comércio do
        IFCE, proporcionando uma experiência de usuário intuitiva e funcional
        para alunos e professores. <br />
        <br />
      </p>
    </div>
  </div>
</BaseLayout>
