---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Pedro Euzebio | Sobre mim">
  <div class="pb-8 mt-5 lg:grid lg:grid-cols-2">
    <div>
      <div class="text-3xl py-3 font-bold">Sobre mim</div>

      <img
        src="/avatar.jpg"
        alt="Foto do Pedro Euzebio"
        class="max-w-full md:max-w-sm rounded-lg"
        width="470"
      />
    </div>

    <div class="py-16">
      <p class="text-lg text-justify">
        Meu nome é Pedro, tenho <strong>17</strong> anos e sou um desenvolvedor web.
        <br />
        <br />

        Em termos técnicos, possuo proficiência em uma variedade de linguagens e
        ferramentas, incluindo: <i
          >Typescript, Javascript, HTML, CSS, React, Next.js, Tailwind CSS,
          Java, Spring, Node.js, SQL, Git e muito mais.</i
        >
        <br />
        <br />

        Fora do mundo profissional, busco equilíbrio e inspiração em interesses
        ecléticos. Você pode me encontrar apreciando um bom jazz enquanto
        desfruto de uma xícara de café, uma combinação que alimenta minha
        criatividade e concentração.
      </p>
    </div>
  </div>
</BaseLayout>
