---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Pedro Euzebio | Sobre mim">
  <div class="pb-8 mt-5">
    <div class="text-3xl py-3 font-bold">Sobre mim</div>

    <img
      src="/avatar.jpg"
      alt="Foto do Pedro Euzebio"
      class="max-w-full md:max-w-sm rounded-lg"
      width="470"
    />

    <div class="py-8">
      <p class="text-lg text-justify">
        Meu nome é Pedro, tenho <strong>17</strong> anos e sou um desenvolvedor web.
        <br />
        <br />

        Em termos técnicos, possuo proficiência em uma variedade de linguagens e
        ferramentas, incluindo: <i
          >Typescript, Javascript, HTML, CSS, React, Next.js, Tailwind CSS,
          Java, Spring, Node.js, SQL, Gite muito mais.</i
        >
        <br />
        <br />

        Além do mundo da tecnologia, tenho interesses ecléticos. Você pode me
        encontrar ouvindo jazz enquanto saboreio uma xícara de café, uma
        combinação que inspira minha criatividade e concentração.
      </p>
    </div>
  </div>
</BaseLayout>
