---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Pedro Euzebio | Sobre mim">
  <div class="pb-8 mt-5 lg:grid lg:grid-cols-2">
    <div>
      <div class="text-3xl py-3 font-bold">Sobre mim</div>

      <img
        src="/avatar.jpg"
        alt="Foto do Pedro Euzebio"
        class="max-w-full md:max-w-sm rounded-lg"
        width="470"
      />
    </div>

    <div class="py-16">
      <p class="text-lg text-justify">
        Meu nome é Pedro, tenho <strong>17</strong> anos e sou um desenvolvedor web
        apaixonado. <br />
        <br />

        Com 3 anos refinando minhas habilidades técnicas, tenho conhecimento
        abrangente desde o front-end até o back-end, mantendo-me atualizado com
        as tecnologias mais recentes. Destaco-me por liderar e contribuir
        significativamente no desenvolvimento de um sistema de delivery para a
        feira de ciências de 2023. <br />
        <br />

        Profissionalmente, trabalhei como Desenvolvedor Web no IFCE, criando
        soluções eficientes em desenvolvimento, manutenção e otimização de
        sistemas. Também atuei como Técnico de TI no Fundo Municipal de
        Assistência Social, garantindo o funcionamento dos sistemas e fornecendo
        suporte técnico ágil. <br />
        <br />
      </p>
    </div>
  </div>
</BaseLayout>
