---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Pedro Euzebio | Sobre mim">
  <div class="pb-8 mt-5 lg:grid lg:grid-cols-2">
    <div>
      <div class="text-3xl py-3 font-bold">Sobre mim</div>

      <img
        src="/avatar.jpg"
        alt="Foto do Pedro Euzebio"
        class="max-w-full md:max-w-sm rounded-lg"
        width="470"
      />
    </div>

    <div class="py-16">
      <p class="text-lg text-justify">
        Meu nome é Pedro, tenho <strong>18</strong> anos e sou um desenvolvedor web.
        <br />
        <br />

        No que diz respeito às habilidades técnicas, possuo um conjunto
        diversificado. Posso criar estruturas e estilos atraentes com HTML/CSS e
        desenvolver interações dinâmicas usando JavaScript, incluindo
        bibliotecas/frameworks como React.js e Next.js. Além disso, tenho
        experiência em Node.js para a lógica de back-end e em bancos de dados
        relacionais, o que me permite construir sistemas robustos e eficientes. <br
        />
        <br />

        Fora do mundo profissional, busco equilíbrio e inspiração em interesses
        ecléticos. Você pode me encontrar apreciando um bom jazz enquanto
        desfruto de uma xícara de café, uma combinação que alimenta minha
        criatividade e concentração. <br />
        <br />
      </p>
    </div>
  </div>
</BaseLayout>
